<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Todo List</title>
</head>
<body>
    <div id="app">
        <header>
            <h1>Todo List</h1>
        </header>
        <main>
            <section>
                <h2>Add a new task</h2>
                <form method="POST">
                    {{ form.csrf_token }}
                    {{ form.tasks(size=30) }}
                    <p></p>
                    {{ form.submit(size=20) }}
                </form>
            </section>
            <section>
                <h2>Task List</h2>
                    <ul>
                    {% for task in tasks %}
                        <li>
                            <input type="checkbox" class="task-checkbox">
                            <span>{{ task }}</span>
                        </li>
                    {% endfor %}
                    </ul>
            </section>
        </main>
    </div>
</body>
</html>
